<div fxFlex fxLayout fxFlexAlign="center center">
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><a routerLink="/">HOME</a></div>
    <div fxFlex fxLayout fxFlexAlign="center center" fx fxLayoutAlign="flex-end"  fxHide.xs>
      <ul fxLayout fxLayoutGap="30px" class="navigation-items">
        <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
        <li *ngIf="isAuth"><a routerLink="/user-search">Search</a></li>
        <li *ngIf="isAuth"><a (click)="onLogout()">Logout</a></li>
        <li *ngIf="isAuth"><a routerLink="/user-detail">Profile</a></li>
      </ul>
    </div>
  </mat-toolbar>
</div>
