<section class="pt" fxLayout fxLayoutAlign="center">
<mat-card  fxFlex.xs="100%" fxFlex="400px">
  <mat-card-header>
    <!--user avatar image, user login, user name, user location, user bio, profile creation date, GitHub page link.
    -->
    <div mat-card-avatar class="card-header-image" [ngStyle]="{'background-image': 'url('+ userInfo.avatar_url +')' }"></div>
    <mat-card-title>{{userInfo.login}}</mat-card-title>
    <mat-card-subtitle>{{userInfo.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item hintLabel="location">{{userInfo.location}}</mat-list-item>
      <mat-list-item>{{userInfo.bio}}</mat-list-item>
      <mat-list-item hintLabel="created at">{{userInfo.created_at | date: 'dd/MM/yyyy'}}</mat-list-item>
      <mat-list-item><a href="{{userInfo.html_url}}">{{userInfo.html_url}}</a></mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
</section>
