.container {
  min-height: 100%;
  margin-top: 1em;
  width: 100%;
  .card-view{
    overflow-x: scroll;
    height:initial!important;
    card-link {
      word-wrap: break-word;
      white-space: pre-wrap;
    }
  }
}
.p {
  padding: 2em 0  0  2em ;
}
