<div class="p"><u>{{usersCount >30?30:usersCount}} of {{usersCount}}</u></div>
<div class="container" fxLayout="row wrap" fxLayout.xs="column wrap"  fxLayoutGap.gt-md="1%" fxLayoutAlign="center">
  <mat-card class="card-view" *ngFor="let userInfo of dataSourceCardView " fxLayoutAlign="space-between center"
            fxFlex="23%" fxFlex.xs="90%">
    <mat-card-content>
      <mat-list>
        <mat-list-item hintLabel="redirect to detail page"><a routerLink="/user-detail" (click)="setNewUserInfo(userInfo.login)">{{userInfo.login}}</a></mat-list-item>
        <mat-list-item><a class="card-link" href="{{userInfo.html_url}}">{{userInfo.html_url}}</a></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
