@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
}

.pt {
  padding-top: 30px;
}

a {
  text-decoration: none;
  color: grey;
  :hover,
  :active {
    color: lightgray;
  }
}

